@use "./base.scss";

// put your custom CSS here!

html {
  font-size: 16px;
}

body {
  a {
    cursor: pointer;
  }

  .tag-link+.tag-link {
    margin-left: 4px;
  }

  [data-ui="tags"] {
    .tag-link {
      color: inherit;
      cursor: pointer;
      display: inline !important;
      border: none;
      padding: 4px 8px;

      &:before {
        color: inherit !important;
      }
    }

    :first-of-type(.tag-link) {
      margin-left: 0;
    }
  }

  .language-dataview {
    display: inline;
    font-size: inherit;
  }


  .markdown-rendered hr {
    border-top: 1.5px solid;
    opacity: 0.9;
  }

  .page_tag-hidden .tags {
    display: none !important;
  }
}
