@use "base";
@use "themes";

html {
  font-size: 14px;
  --external-link-color: rgba(123, 151, 170, 1);

}

body {
  .explorer .explorer-content ul.explorer-ul li a  {
    cursor: pointer;
  }
  a {
    cursor: pointer;
  }

  a.external {
    cursor: pointer !important;
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  hr {
    border-top-width: 1px;
    height: 0;
  }



  .tag-link+.tag-link {
    margin-left: 4px;
  }

  [data-ui="tags"] {
    .tag-link {
      display: inline !important;
      border: none;
      padding: 2px;

      &:before {
        color: inherit !important;
      }
    }

    :first-of-type(.tag-link) {
      margin-left: 0;
    }
  }

  .language-dataview {
    display: inline;
    font-size: inherit;
  }


  .markdown-rendered hr {
    border-top: 1.5px solid;
    opacity: 0.9;
  }

  .page_tag-hidden .tags {
    display: none !important;
  }

  a.internal {
    color: var(--secondary);
  }

  a.internal.tag-link {
    border: none !important;
    outline: none !important;
    background-color: transparent !important;
  }

  a.internal.tag-link {
    cursor: pointer !important;
    color: var(--dark);
  }

  .clipboard-button {
    border: none;
    outline: none;
    background-color: transparent;

    & > svg {
      fill: var(--dark);
    }
  }
  .page-title {
    font-size: 1.6rem;
  }
  .search>.search-button>p {
    font-size: 0.8rem;
  }
  .breadcrumb-element p {
    font-size: 0.6rem;
    color: var(--darkgray);
  }

  div.graph {
    --quartz-graph-line: var(--light);
    --quartz-graph-node: var(--gray);
    --quartz-graph-node-attachment: var(--highlight);
    --quartz-graph-node-focused: var(--secondary);
    --quartz-graph-node-tag: var(--tertiary);
    --quartz-graph-node-unresolved: var(--lightgray);
    --quartz-graph-text: var(--dark);
  }
}


[data-slug="index"] {
  .page-header {
    .tags, .content-meta {
      display: none !important;
    }
  }
}


